*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: rgb(24, 177, 177);
    text-align: center;
    color: white;
    padding: 5px;
}

.title{
    font-size: 30px;
    word-spacing: 7px;
}

section{
    padding: 20px;
    background-image: url("images/people.jpg");
    background-size: cover;
    overflow: hidden;
}

.form_container{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 30px;
    float: right;
    

}

h2{
    font-size: 16px;
}

p{
    font-size: 14px;
}

.margin_bottom{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
}

input[type="submit"]{
    color: white;
    background-color: rgb(24, 177, 177) ;
    font-weight: bold;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("images/arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: rgb(61, 60, 60);
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    display: inline-block;
    color: white;
    max-width: 50%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width: 800px){

    .title{
        font-size: 20px;
        word-spacing: 7px;
    }

    .form_container{
    max-width: 200px;
    margin-right: 55px;
    
    }

    .picture{
        margin-left:30px;
    }

    .description{
        text-align: center;
    }

}

@media screen and (max-width: 300px){

    .form_container{
        max-width: 200px;
        margin-right: 20px;
        
    }

    .description h3{
        font-size: 20px;
    }

    .title{
        font-size: 15px;
        word-spacing: 5px;
    }
    
}